body{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size:16px;
}
input, textarea{
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    padding: 0.5rem;

}
fieldset{
    border: none;
    margin: 0;
    padding: 0;
}
.hidden{
    display: none;
}

p{
    max-width: 800px;
}

hr{
    height: 2px;
    color: white;
    border: 1px solid white;
    width: 100%;
    background: white;
}

.player-info{
   
    display: flex;
    flex-direction: column;
    background-color: #1c426d;
    color:#fefefe;
    justify-content: center;
    
}

.player-info__field{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 1rem;
    padding: 0.5rem;
}

.player-info__field > *{
   
    padding: 0.5rem;
}

.player-info__field--column{
    display: flex;
   flex-direction: column;
    gap: 1rem;
    padding: 0.5rem;
}